{% extends "main.html" %}

{% block content %}
    <section class='log-in d-flex flex-column justify-content-center align-items-center container-fluid'>
        <h3>digit your credit card password</h3>
        <form class='identification d-flex flex-column justify-content-center align-items-center' method='POST' action=' {% url 'cashier:card_validation'  trans tries %} '>
            {% csrf_token %}
            {% if messages %}
            {% for m in messages %}
            <div class="alert alert-danger" role="alert">
                {{m}}
                </div>
                {% endfor %}
            {% endif %}
            <input class='form-control' name='card-password' type="password" maxlength='4' placeholder='####'>
            <button class="btn btn-primary" type="submit">submit</button>
        </form>

    </section>


{% endblock content %}