{% extends "main.html" %}

{% block content %}
    <section class='log-in d-flex flex-column justify-content-center align-items-center container-fluid'>
        <h1>Welcome to the banky digital ATM</h1>
        <form class='identification d-flex flex-column justify-content-center align-items-center' method='POST' action=''>
            <h4 class='log_title'>access the cashier</h4>
            {% csrf_token %}
            {% if messages %}
            {% for m in messages %}
            <div class="alert alert-danger" role="alert">
                {{m}}
                </div>
                {% endfor %}
            {% endif %}
            <input placeholder="indicate your email address" class='form-control' name="email" type="email">
            <input placeholder="indicate your account password" class='form-control' name="password" type="password">
            <button class="btn btn-primary" type="submit">access</button>
            <a href=" {% url 'cashier:sign_up'  %} ">haven't created an account yet?</a>
        </form>

    </section>


{% endblock content %}


